#username,
#password {
	padding:5px;
	width:273px;
}

#login div.ie {
	padding-bottom:3em;
}

#home {
	border:1px solid #C9CACB;
}

#menu li.ie {
	border:1px solid #C9CACB;
	border-top:0;
}

#menu li.ie.first {
	border-top:1px solid #C9CACB;
}

#menu li.ie span,
#home span.ie {
	border:1px solid #FFF;
	display:block;
	padding:8px;
}

#home span.ie {
	padding:8px 8px 13px;
}

#menu li.ie span.icon {
	border:0;
	display:inline-block;
	padding:0;
}

#menu li.ie span.icon.welcome {
	background-position:0 0;
}

#menu li.ie span.icon.news {
	background-position:-29px 0;
}

#menu li.ie span.icon.events {
	background-position:-58px 0;
}

#menu li.ie span.icon.forms {
	background-position:-87px 0;
}

#menu li.ie span.icon.governance {
	background-position:-116px 0;
}

#menu li.ie span.icon.contacts {
	background-position:-145px 0;
}

#menu li.ie span.icon.meetings {
	background-position:-174px 0;
}

#menu li.ie span.icon.policies {
	background-position:-203px 0;
}

#menu li.ie span.icon.locations {
	background-position:-232px 0;
}

#menu li.ie span.icon.resources {
	background-position:-261px 0;
}

#menu li.ie span.icon.directories {
	background-position:-290px 0;
}

#menu li.ie span.icon.posts {
	background-position:-319px 0;
}

#menu li.ie span.icon.groups {
	background-position:-348px 0;
}

#menu li.ie span.icon.blog {
	background-position:-377px 0;
}

#menu li.ie span.icon.logout {
	background-position:-406px 0;
}

#menu li.last {
	padding-bottom:7px;
}

#home span.ie a {
	padding-top:3px;
}

#home span.icon {
	top:4px;
}

#register textarea {
	width:407px !important;
}

#register div {
	background:url("../Images/Admin/login-bg.png") repeat-x scroll left top #F3F3F4;
	zoom:1;
}