#warning {
	background-color:#FFF;
	border:1px solid #666;
	color:red;
	display:none;
	padding:15px;
	height:100px;
	left:50%;
	margin:0 0 0 -150px;
	position:absolute;
	top:20%;
	width:300px;
	
	/* Following box shadow settings not understood by IE at all */
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	
	/* Following rounded corner radius settings not understood by IE at all */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#warning p.message {
	background:url(../Images/Admin/warning.png) left top no-repeat;
	height:auto !important;
	height:52px;
	min-height:52px;
	padding-left:25px;
}

#warning p.confirm {
	text-align:center;
}

#warning.active {
	display:block;
}